.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  border: 1px solid var(--dull-blue);
  background-color: var(--dull-blue);
} 

.navbarWrapper div:nth-child(1) {
    font-size: x-large;
    letter-spacing: 6px;

}

.navbarWrapper div:nth-child(2) {
  flex-basis: 60%;
}

.navbarWrapper div:nth-child(2) input {
  width: 100%;
  padding: 10px;
  background-color: var(--normal-theme-light-prime-gray);
  border-radius: 5px;
  color: #fff;
}

.searchBar {
  position: relative;
}


#resultList {
  position : absolute;
  display: none;
  background-color: whitesmoke;
  color: #111;
  font-size: medium;
  border-radius: 10px;
  width:90% ;
  max-height: 300px; 
  overflow-y:scroll ;
  border: 1px solid var(--light-prime-gray);
  cursor: pointer;
}

#resultList > .autocompleteResult {
  font-size: medium;
  letter-spacing: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #123;
}

.autocompleteResult:hover {
  background-color: bisque;
}

.movieBaseTitle > a {
  color: #fff;
  text-decoration: none;
}

