html {
    box-sizing: border-box;    
}


*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --prime-blue : #00a0d6;
    --dull-blue : #364f65;
    --dark-blue-theme: #191e26; 
    --normal-theme: #fff; 
    --normal-theme-light-prime-gray : #e6ecf5;
    --dark-theme-light-prime-gray: #32373e;
    --dark-theme-card-background: whitesmoke;
    --normal-theme-card-background:#364f65;
    --dark-theme-text:#111;
    --normal-theme-text:#fff;
}

body {
    background-color: var(--normal-theme);
}